{:title    "Fast Track to Clojure / Clojurescript (Beginner)"
 :date     "6 - 8 June 2016"
 :loc      "North London"
 :audience "Beginner Clojure/Clojurescript"
 :capacity 8
 :id       "WS-LDN-9"
 :price    "£575.00 (+ 20% VAT in UK only)"
 :url      "https://github.com/thi-ng/ws-ldn-9/"
 :topics   ["Clojurescript" ]
 :shopify  {:store    "thi-ng-store.myshopify.com"
            :product  "Fast Track to Clojure / Clojurescript (Beginner, June 2016)"
            :handle   ""
            :cart     ""
            :discount {:id "WS-LDN-9-EARLY" :num 3 :percent "15%" :until "1 March 2016"}}
 :extras   [:div
            [:p [:img {:src "/img/workshop/commits-ws-ldn-9.jpg" :alt "Example screenshot" :width "100%"}]]
            [:p "Caption"]]
 :desc     [:div
            "As Clojurescript is finding more inroads into interactive, online & mobile apps, experiences and games with high demands on runtime performance, this workshop is tailored to give you the insights and techniques required to tickle out maximum performance for your demanding CLJS projects where it matters. Although not exclusively aimed at games developers, we will be mainly using (and building) a simple 3D game as learning context to learn about:"
            [:h3 "Scheduled topics"]
            [:ul
             ]
            [:h3 "Requirements"]
            [:ul
             [:li "OSX / Linux / Windows7+ laptop"]
             [:li "Java JDK v1.8+"]]
            [:p "Included in workshop fee:"]
            [:ul
             [:li "Food & hot drinks"]]
            [:p "Please also see " [:a {:href "#tandc"} "Terms & Conditions"] " below."]]}
